{% comment %}
This file is deprecated. Use password_reset_request.html instead.
{% endcomment %}

{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<script>
    // Redirect to the new password reset request page
    window.location.href = "{% url 'authentication:password_reset_request' %}";
</script>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="text-center">
            <p>Redirecting to password reset page...</p>
            <a href="{% url 'authentication:password_reset_request' %}" class="btn btn-primary">
                Continue to Password Reset
            </a>
        </div>
    </div>
</div>
{% endblock %}
